body {
      background-color: goldenrod;
}
h1 {
    color: black;
    text-align: center;
}
li {
    text-align: center;
    font-size: 25px;
    font-style: bold;
}
img {
     text-align: center;
}
.popular {
          font-style: oblique;
          color: rosybrown;
}
